/* Цвета */
$primary-color: #ff66b3;       /* Основной розовый */
$primary-dark: #e6007a;        /* Темно-розовый */
$secondary-color: #8B4513;     /* Коричневый */
$background-color: #b3e0ff;    /* Голубой фон */
$text-color: #333;             /* Основной текст */
$light-color: #fff;            /* Белый */
